.main {
    display: flex;
}

.pattern-list {
    list-style-type: none;
}

.pattern-list__link {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background: cadetblue;
    border-radius: 5px;
}

.pattern-list__link:hover {
    background: darkcyan;
}

.pattern-list__item {
    display: none;
}

.picture {
    box-sizing: border-box;
    width: 50%;
    margin: 20px;
    object-fit: contain;
    text-align: center;
}

.verticalMenu {
    box-sizing: border-box;
    width: 20%;
}

.menu,
.menu>li>ul {
    margin: 20px;
    list-style: none;
}

.horizontalMenu {
    display: flex;
    align-items: flex-start;
}

.menu>li {
    padding: 5px;
    width: 200px;
    text-align: center;
    background: cadetblue;
    border: 1px white;
    position: relative;
    margin: 5px;
}

.menu>li>ul {
    padding: 0;
    margin: 0;
    background: cadetblue;
}

.submenu {
    margin: 5px 0;
}

.submenu>label:hover {
    color: white;
}

.submenu input {
    display: none;
}

.submenu input:checked + label > {
    color: azure;
}

.horizontalMenu>li>ul {
    position: absolute;
    left: 0;
    width: 100%;
}

.menu>li:hover {
    background: darkcyan;
}

.hidden {
    display: none;
}

.horizontalMenu {
    width: 50%;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.horizontalMenu>li {
    display: inline-block;

}

.message {
    height: 20px;
    margin: 20px;
    font-size: 18px;
}

.successBtn,
.dangerBtn {
    width: 100px;
    padding: 10px;
    margin: 20px;
    font-size: 14px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.successBtn {
    background: lightgreen;
}

.dangerBtn {
    background: palevioletred;
}

.builder button,
.builder input {
    border-radius: 3px;
    padding: 5px;
}

.insForm label {
    display: block;
    margin: 15px;
}

#lifeFormPeriod {
    margin-bottom: 15px;
}

.submit {
    display: block;
}